.seconds{
    position: absolute;
    bottom: 0;
    margin-left: 90%;
}

.card-body{
    text-align: center;
    font-size: 23px;
}

#img{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    
}
#forever{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
}
.seconds{
    z-index: 999;
    position: fixed;
    bottom: 0;
    margin-left: 90%;
}